test*
.clean.sh
wshell
.DS_Store
.vscode/
__MACOSX/
**.zip
assigned-project-scheduling/scheduler
assigned-project-files/solution/disk.o
assigned-project-files/solution/goatfs.o
assigned-project-concurrency/wpzip